---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import {Image} from "astro:assets";
import {sortByDate} from "../utils/sortByDate.js";

const blogEnteries = await getCollection("blog", ({data}) => {return data.draft !== true;});


function formatDateToDateString(dateString) {
    const blogDateObject = new Date(dateString);
    const blogDateString = blogDateObject.toDateString();
    return blogDateString
}
---

<Layout title="Muhammad Mostey | Blog">
    <h1>Blog</h1>
	<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mb-8" id="blogcards">

        {
            // .slice(0, 4)
            blogEnteries.sort(sortByDate).map((blogPostEntry)=> (

                <div class="border-2 border-dark dark:border-light rounded-xl p-2 flex flex-col">

                    <div class="flex blogcardheader">
                        <a href={`/blog/${blogPostEntry.slug}`} > 
                            <Image id="blogcards-image" class="inline" src={blogPostEntry.data.image.src} width={600} height={450} quality={80} alt={blogPostEntry.data.image.alt} format="webp"/>
                        </a>
                    </div>
                    

                    <div class="blogcardbody flex-row">
                        <a href={`/blog/${blogPostEntry.slug}`}>
                            <div class="py-2 text-base dark:text-yellow-300 text-pink">
                                {blogPostEntry.data.title}
                            </div>    
                        </a>

                        <div class="text-sm pb-2 blogcardtext">
                            {blogPostEntry.data.description}
                        </div>
                        
                    </div>

                    
                    <div class=" blogcardfooter">
                        <div class="blogcardpublisher ">
                            <Image class="rounded-full float-left" src={blogPostEntry.data.authorImage.src} width={40} height={40} quality={80} format="webp" alt="author"/>
                        </div>
                        <div class=" blogcardpublisher">
                            <p class="text-sm m-0">{blogPostEntry.data.author}</p>
                            <p class="text-sm m-0" > { formatDateToDateString(blogPostEntry.data.publishedDate) } </p> 
                        
                        </div>
                    </div>

                    
                </div>
            ))
        }
    </div>
</Layout>
