---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import {Image} from "astro:assets";
import {sortByDate} from "../utils/sortByDate.js";
import ProjButton from '../components/ProjButton.astro';
import Icon from 'astro-icon';
import PLTags from '../components/PLTags.astro';

// modal testing to be checked later
// import Modal from '../components/ProjectCardModal.astro';
// import moA from '../assets/images/moA.png';

// const project = {
//   title: "Devfolio Personal Website",
//   images: [{moA}],
//   description: "Developed a portfolio website using front-end stack and JavaScript.",
//   stack: ["HTML", "CSS", "JavaScript", "Astro", "tailwind", "netlify", "swup"]
// };



function formatDateToDateString(dateString) {
    const blogDateObject = new Date(dateString);
    const blogDateString = blogDateObject.toDateString();
    return blogDateString
}

const tagsCSS = "bg-pink text-dark dark:text-black dark:bg-yellow-300";
---

<Layout title="Muhammad Mostey | Projects">
    <h1>Projects</h1>


	<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mb-8" id="blogcards" style="position: relative;">

                <div class="border-2 border-dark dark:border-light rounded-xl p-2 flex flex-col" style="position: relative;">

                    <div class="flex blogcardheader">
                        <a href="#" > 
                            
                            <Image id="blogcards-image" src={"/images/projects/devfolio.png"} width={600} height={450} quality={80} alt="" format="webp"/>
                        </a>
                    </div>
                    
                    <div class="blogcardbody flex-row">
                        <div class="py-2 text-base font-bold  dark:text-yellow-300 text-pink">
                            <a href="#">Devfolio ⋅ Portfolio Website</a>
                        </div>


                        <div class="text-sm pb-2 blogcardtext">
                            Developed a portfolio website using front-end stack and JavaScript. 
                        </div>
                        
                    </div>

                    <div>
                        <PLTags tagName="HTML" url="#html" css=`${tagsCSS}`/>
                        <PLTags tagName="CSS" url="#css" css=`${tagsCSS}`/>
                        <PLTags tagName="JavaScript" url="#javascript" css=`${tagsCSS}`/>
                        <PLTags tagName="Astro" url="#astro" css=`${tagsCSS}`/>
                        <PLTags tagName="tailwind" url="#tailwind" css=`${tagsCSS}`/>
                        <PLTags tagName="netlify" url="#netlify" css=`${tagsCSS}`/>
                        <PLTags tagName="swup" url="#swup" css=`${tagsCSS}`/>
                    </div>            
                        
                     
                    <div class="flex flex-row justify-end">
                            <ProjButton title="live"  url="https://www.muhammadmostey.com/" live={true}  />
                            <ProjButton title="Code" url="https://www.github.com/MuhammadMostey/muhammadmostey-devfolio.git" live={false}  />
                    </div>
                    
                </div>


    </div>
    
    <!-- this below block is used for modal window to be checked later 
    <script>
        function openModal() {
          document.getElementById('modal').classList.remove('hidden');
          document.body.style.overflow = 'hidden';
        }
      
        function closeModal() {
          document.getElementById('modal').classList.add('hidden');
          document.body.style.overflow = 'auto';
        }
      
        document.addEventListener('DOMContentLoaded', () => {
          document.getElementById('openModalButton').addEventListener('click', openModal);
          document.getElementById('modal').addEventListener('click', function(event) {
            if (event.target.id === 'modal' || event.target.id === 'closeModalButton') {
              closeModal();
            }
          });
        });
      </script>
      
      <div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mb-8" id="blogcards" style="position: relative;">
          <div class="border-2 border-dark dark:border-light rounded-xl p-2 flex flex-col cursor-pointer" style="position: relative;" id="openModalButton">
            <div class="flex blogcardheader">
              <a href="#">
                <Image id="blogcards-image" src={"/images/projects/devfolio.png"} width={600} height={450} quality={80} alt="" format="webp"/>
              </a>
            </div>
      
            <div class="blogcardbody flex-row">
              <a href="#">
                <div class="py-2 text-base dark:text-yellow-300 text-pink">
                  Devfolio Personal Website
                </div>    
              </a>
      
              <div class="text-sm pb-2 blogcardtext">
                Developed a portfolio website using front-end stack and JavaScript. 
              </div>
            </div>
      
            <div>
              <PLTags tagName="HTML" css="bg-pink text-dark dark:text-black dark:bg-yellow-300" url="#HTML"/>
              <PLTags tagName="CSS" css="bg-pink text-dark dark:text-black dark:bg-yellow-300" url="#CSS"/>
              <PLTags tagName="JavaScript" css="bg-pink text-dark dark:text-black dark:bg-yellow-300" url="#JavaScript"/>
              <PLTags tagName="Astro" css="bg-pink text-dark dark:text-black dark:bg-yellow-300" url="#Astro"/>
              <PLTags tagName="tailwind" css="bg-pink text-dark dark:text-black dark:bg-yellow-300" url="#tailwind"/>
              <PLTags tagName="netlify" css="bg-pink text-dark dark:text-black dark:bg-yellow-300" url="#netlify"/>
              <PLTags tagName="swup" css="bg-pink text-dark dark:text-black dark:bg-yellow-300" url="#swup"/>
            </div>
      
            <div class="flex flex-row justify-end">
              <ProjButton title="live" url="https://www.muhammadmostey.com/" live={true} />
              <ProjButton title="Code" url="https://www.github.com/MuhammadMostey/muhammadmostey-devfolio.git" live={false} />
            </div>
          </div>
        </div>
      
        <Modal project={project} />
      </div> -->

<!-- tag colors -->
<!-- <PLTags tagName="CSS" css="bg-green-600 text-green-900 dark:text-black dark:bg-yellow-300"/>
<PLTags tagName="CSS" css="bg-blue-600 text-blue-900 dark:text-black dark:bg-yellow-300"/>
<PLTags tagName="CSS" css="bg-green-600 text-green-900 dark:text-light" />
<PLTags tagName="CSS" css="bg-blue-600 text-blue-900 dark:text-light " />
<PLTags tagName="CSS" css="bg-red-600 text-red-900 dark:text-light " />
<PLTags tagName="CSS" css="bg-pink text-dark dark:text-light " />
<PLTags tagName="CSS" css="bg-blue-600 text-blue-900 dark:text-light " /> -->



<!-- <div class="bg-red-900 text-blue-300"></div> -->

</Layout>
