---
import Header from '../components/Header.astro';
import NavigationMobile from '../components/NavigationMobile.astro';

let { title, description } = Astro.props;

const websiteDevelopedYear = '2023'

function copyrightDate(websiteDevelopedYear){
	const currentYearObject = new Date();
	const currentYear = currentYearObject.getFullYear().toString();
	const currentYearInt = parseInt(currentYear);
	const websiteDevelopedYearInt = parseInt(websiteDevelopedYear);

	// returns currnet year if the same as developed at, otherwise return the year developed at to the current year, used for copyright.
	if (currentYearInt == websiteDevelopedYearInt){
		return `${websiteDevelopedYearInt}`
	} else {
		return `${websiteDevelopedYearInt} - ${currentYearInt}`
	}
}

---

<!DOCTYPE html>

<html lang="en">

	<head>
		<title>{title}</title>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		<!-- <link rel="icon" type="image/svg+xml" href="../../public/favicon.svg"/> -->
		<!-- font-awesome -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	</head>

	
	<body class="font-mono bg-light dark:bg-dark text-dark  dark:text-light">


		<main id ="swup" class="relative md:container w-full min-h-screen mx-auto">
			
			<Header />


			<article class="text-lg md:text-2xl mx-2 sm:mx-4 md:mx-6 px-2 py-8 swuptransition-fade">
				<slot />
			</article>


			<footer>
				<hr class="border-0 border-t border-pink dark:border-yellow-300 mb-1 mt-10 md:mt-0">

				<div class="flex flex-col md:flex-row md:justify-between">
					<!-- Section One -->
					<div class="flex flex-col items-center md:items-start w-full md:w-1/2 ">
						<p class="text-sm md:text-lg text-center md:text-left w-full md:w-1/2 m-0">Contact Details</p>
						<p class="text-sm md:text-base text-center md:text-left w-full md:w-1/2 m-0">Location: Erbil, Iraq</p>
						<p class="text-sm md:text-base text-center md:text-left w-full md:w-1/2 m-0">Email: <a href="mailto:muhammadmostey@gmail.com" class="text-pink dark:text-yellow-300 hover:underline m-0">muhammadmostey@gmail.com</a></p>
						<p class="text-sm md:text-base text-center md:text-left w-full md:w-1/2 m-0">Mobile: <a href="tel:+9647513506096" class="text-pink dark:text-yellow-300 hover:underline">+964 751 350 6096</a></p>
					</div>
					
					<!-- Section Two -->
					<div class="flex flex-col items-center  w-full md:w-1/2 justify-center content-center mt-2 md:mt-0"> <!-- mb-6 md:mb-0 -->
						<p class="text-sm md:text-base text-center m-0">Copyright © {copyrightDate(websiteDevelopedYear)} Muhammad Mostafa Mostey</p>
						<p class="text-sm md:text-base text-center m-0">Developed with ❤️ by Muhammad Mostey</p>
					</div>
					
				</div>
			</footer>
			

			<div class="mt-10 h-2"></div>
			<NavigationMobile />


		</main>
		
		<script src="../js/app.js"></script>

	</body>

</html>


<style is:global>
	@import "../styles/base.css";
</style>
